*{
    margin: 0;
    padding: 0;
}

.geral{
    background-image: url(bodybackground.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.headiv{
    padding: 0px 0px 200px 0px;
    background-image: url(../fundos/bodybackgroundimg.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.headiv .ul-logo .logotext{
    width: 150px;
    animation: animetxt ease-out 2s;
}
.ul-logo .logosymbol{
    width: 90px;
    transform: translateY(23px);
    animation: animesimbol 2s ease-in;
}
.ul-logo{
    margin: 60px 0px 0px 0px;
    display: inline-flex;
    list-style: none;
}
.ul-logo{
    padding: 10px;
}
@keyframes animetxt{
    from{
        transform: translateX(-150px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes animesimbol{
    from{
        transform: translate(100px, 23px);
    }
    to{
        transform: translate(0px, 23px) ;
    }
}
.headiv h1 img{
    padding: 100px 0px 0px 0px;
    width: 320px;
}
.headiv .tbr{
    margin: 70px 0px 0px 0px;
    padding: 15px 55px 15px 55px;
    border-radius: 30px;
    border-color: white;
    border-style: solid;
    background-image: url(../fundos/bodybackgroundimg.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.headiv .tbr a{
    color: white;
    font-size: 18px;
    font-family: helvetica;
    text-decoration: none;
}
.headiv .tbr:hover{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.headiv .ctt{
    margin: 20px 0px 0px 0px;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    border-color: green;
    border-style: solid;
    background: green;
}
.headiv .ctt a{
    color: white;
    font-size: 18px;
    font-family: helvetica;
    text-decoration: none;
}
.headiv .ctt:hover{
    transition: linear .2s;
    background-color: rgba(248, 232, 142, 0.678);
    border-color: rgba(248, 232, 142, 0.678);;
    cursor: pointer;
}
.headiv .ssc{
    margin: 100px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    background-image: url(../fundos/instabackground.jpg);
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.headiv .ssc a{
    color: white;
    text-decoration: none;
    font-family: helvetica;
    font-size: 18px;
}
.headiv .ssc a:hover{
    font-size: 19px;
    transition: all .2s linear;
}
.headiv .portfolio{
    padding: 5px 25px 5px 25px;
    margin: 30px 0px 0px 0px;
    border-radius: 25px;
    background-color: white;
    border: none;
}
.headiv .portfolio a{
    text-decoration: none;
    font-family: helvetica;
    color: black;
    font-size: 18px;
}
.headiv .download{
    padding: 5px 25px 5px 25px;
    margin: 30px 0px 0px 0px;
    border-radius: 25px;
    background-color: #d16138;
    border: none;
}
.headiv .download a{
    text-decoration: none;
    font-family: helvetica;
    color: black;
    font-size: 18px;
}
.quemdiv button{
    background-color: chocolate;
    margin: 10px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    border-style: none;
}
.quemdiv button a{
    color: white;
    text-decoration: none;
    font-family: helvetica;
    font-size: 18px;
    margin: 5px;
    cursor: crosshair;
}
.quemdiv{
    margin: 50px 0px 0px 0px;
}
.quemdiv h2{
    font-family: helvetica;
    font-size: 30px;
}
.quemdiv p{
    text-align: center;
    margin: 20px 80px 10px 0px;
    font-size: 17px;
    font-family: helvetica;
}
.oquefazemos p{
    text-align: justify;
    margin: 5px 80px 10px 30px;
    font-size: 17px;
    font-family: helvetica;
}
.oquefazemos{
    margin: 50px 0px 0px 0px;
    width: auto;
}
.oquefazemos a img{
    width: 300px;
    padding: 0px 0px 20px 0px;
}
.oquefazemos a img:hover{
    width: 310px;
    transition: linear .2s;
}
.oquefazemos #editvideo, #editsite{
    float: right;
}
.oquefazemos #null{
    visibility: hidden;
}
.oquefazemos h1{
    font-family: Helvetica, sans-serif;
    margin: 0px 0px 0px 20px;
    text-decoration: underline black;
}
.artdiv{
    margin: 30px 0px 0px 0px;
}
.artdiv img{
    width: 755px;
}
.footdiv{
    background-image: url(../fundos/fundofooter.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 0px 0px 200px 0px;
    margin: 80px 0px 0px 0px;
}
.footdiv .caixa{
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}
.footdiv form p{
    font-family: helvetica;
    color: white;
    font-size: 18px;
}
.footdiv .login{
    padding: 70px 0px 0px 0px;
}
.footdiv .butao{
    padding: 3px 30px 5px 30px;
    background-color: green;
    border: none;
    color: white;
    font-family: helvetica;
    font-size: 18px;
}
.footdiv .butao:hover{
    cursor: pointer;
}
.menu{  
    background-color: black;
    position: absolute;
    height: 100%;
    width: 20%;
    transition: all .2s linear;
    left: -300px;
}
header label img{
    width: 40px;
    padding: 10px;
}
#check{
    display: none;
}
#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}
nav{
    width: 100%;
    position: absolute;
    top: 60px;
}
nav a{
    text-decoration: none;
}
.link{
    background-color: #494950;
    padding: 20px;
    font-family: helvetica;
    font-size: 12pt;
    transition: all .2s linear;
    color: white;
    border-bottom: 2px solid #222;
}
.link:hover{
    background-color: #050542;
}

#check:checked ~ .menu{
    transform: translateX(210px)
}
section .artcursos img{
    width: 100%;
   margin: 100px 0px 0px 0px;
   transition: all .2s linear;
}
.artcursos h4{
    font-size: 22pt;
    font-family: helvetica;
}
.artcursos{
    margin: 30px 0px 0px 0px;
    padding: 0px 0px 150px 0px;
}
#socio:target{
    transition: all 3s scroll;
}
.clibut{
    padding: 7px 40px 7px 40px;
    margin: 0px 0px 50px 0px;
    background-image: url(../fundos/fundofooter.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border-right: none;
    border-color: white;
    border-style: solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.sobut{
    padding: 7px 40px 7px 40px;
    margin: 0px 0px 50px 0px;
    background-image: url(../fundos/fundofooter.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border-left: none;
    border-color: white;
    border-style: solid;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.sobut a{
    color: white;
    font-family: helvetica;
    font-size: 12pt;
    text-decoration: none;
}
.clibut a{
    color: white;
    font-family: helvetica;
    font-size: 12pt;
    text-decoration: none;
}
.sobut:hover{
    background-image: url(../fundos/instabackground.jpg);
    transition: .2s linear;
}
.clibut:hover{
    background-image: url(../fundos/instabackground.jpg);
    transition: .2s linear;
}
.icon-curso ul li a img{
    width: 50px;
}
.icon-curso ul{
    display: inline-flex;
}
.icon-curso ul li{
    margin: 0px 80px 0px 0px;
    list-style: none;
}
#marketingico:hover{
    width: 53px;
}
#designico:hover{
    width: 53px;
}
.icon-curso ul li a{
    color: black;
    text-decoration: none;
}
.artcursos h6{
    margin: 20px 0px 0px 50px;
    font-size: 12pt;
}
.artcursos #marketingdiv{
    visibility: hidden;
}
.artcursos #linkmarketing:target ~ #marketingdiv{
    visibility: visible;
}
.stories-div{
    margin: 50px 0px 0px 0px;
}
.stories-div iframe{
    width: 350px;
}