*{
    margin: 0;
    padding: 0;
}

.geral{
    background-image: url(bodybackground.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.headiv{
    padding: 0px 0px 200px 0px;
    background-image: url(../fundos/bodybackgroundimg.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.headiv h1 img{
    padding: 100px 0px 0px 0px;
    width: 350px;
}
.headiv .tbr{
    margin: 70px 0px 0px 0px;
    padding: 15px 55px 15px 55px;
    border-radius: 30px;
    border-color: white;
    background-image: url(../fundos/bodybackgroundimg.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.headiv .tbr a{
    color: white;
    font-size: 18px;
    font-family: helvetica;
    text-decoration: none;
}
.headiv .tbr:hover{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.headiv .ctt{
    margin: 20px 0px 0px 0px;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    border-color: green;
    background: green;
}
.headiv .ctt a{
    color: white;
    font-size: 18px;
    font-family: helvetica;
    text-decoration: none;
}
.headiv .ctt:hover{
    transition: linear .2s;
    background-color: rgba(248, 232, 142, 0.678);
    cursor: pointer;
}
.headiv .ssc{
    margin: 100px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
    background-image: url(../fundos/instabackground.jpg);
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.headiv .ssc a{
    color: white;
    text-decoration: none;
    font-family: helvetica;
    font-size: 18px;
}
.artdiv{
    margin: 80px 0px 0px 0px;
}
.artdiv img{
    width: 755px;
}
.footdiv{
    background-image: url(../fundos/fundofooter.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 0px 0px 200px 0px;
    margin: 80px 0px 0px 0px;
}
.footdiv .caixa{
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}
.footdiv form p{
    font-family: helvetica;
    color: white;
    font-size: 18px;
}
.footdiv .login{
    padding: 70px 0px 0px 0px;
}
.footdiv .butao{
    padding: 3px 30px 5px 30px;
    background-color: green;
    border: none;
    color: white;
    font-family: helvetica;
    font-size: 18px;
}
.footdiv .butao:hover{
    cursor: pointer;
}
.menu{  
    background-color: black;
    position: absolute;
    height: 25%;
    width: 100%;
    transition: all .2s linear;
    top: -210px;
}
header label img{
    width: 40px;
    padding: 10px;
}
#check{
    display: none;
}
#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}
nav{
    width: 100%;
    position: absolute;
    top: 60px;
}
nav a{
    text-decoration: none;
}
.link{
    background-color: #494950;
    padding: 20px;
    font-family: helvetica;
    font-size: 12pt;
    transition: all .2s linear;
    color: white;
    border-bottom: 2px solid #222;
}
.link:hover{
    background-color: #050542;
}

#check:checked ~ .menu{
    transform: translateZ(210px)
}
section .artcursos img{
    width: 100%;
   margin: 100px 0px 0px 0px;
   transition: all .2s linear;
}
.artcursos h4{
    font-size: 22pt;
    font-family: helvetica;
}
.artcursos{
    margin: 30px 0px 0px 0px;
    padding: 0px 0px 150px 0px;
}
#socio:target{
    transition: all 3s scroll;
}
.clibut{
    padding: 7px 40px 7px 40px;
    margin: 0px 0px 20px 0px;
    background-image: url(../fundos/fundofooter.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border-right: none;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
}
.sobut{
    padding: 7px 40px 7px 40px;
    margin: 0px 0px 20px 0px;
    background-image: url(../fundos/fundofooter.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border-left: none;
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
}
.sobut a{
    color: white;
    font-family: helvetica;
    font-size: 12pt;
    text-decoration: none;
}
.clibut a{
    color: white;
    font-family: helvetica;
    font-size: 12pt;
    text-decoration: none;
}
.sobut:hover{
    background-image: url(../fundos/instabackground.jpg);
    transition: .2s linear;
}
.clibut:hover{
    background-image: url(../fundos/instabackground.jpg);
    transition: .2s linear;
}
.icon-curso ul li a img{
    width: 80px;
}
.icon-curso ul{
    display: inline-flex;
}
.icon-curso ul li{
    margin: 0px 50px 0px 0px;
    list-style: none;
}