*{
    margin: 0;
    padding: 0;
}

.geral{
    background-image: url(bodybackground.png);
    background-attachment: fixed;
    background-position: center;
    position: relative;
    padding: 0px 0px 700px 0px;
}
.headiv{
    background-image: url(headbackground.jpg);
}

.headiv{
    background-image: url(background-top.png);
    background-position: relative;
    background-attachment: fixed;
    position: center;
}

.headiv ul .avlogo img{
    margin: 10px 0px 0px 0px;
    width: 100px;
}
.rnalogo img{
    margin: 10px 0px 0px 0px;
    width: 100px;
    padding: 20px 0px 20px 0px;
    transform: translateY(-20px);
}
.headiv ul{
    display: inline-flex;
    list-style: none;
    padding: 20px 0px 20px 0px;
}
.id-div{
    margin: 40px 20px 40px 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px -9px 5px rgba(0, 0, 0, 0.247);
}
.perfil-ul .foto img{
    width: 110px;
    border-radius: 100%;
    margin: 20px 0px 0px 20px;
    padding: 0px 10px 0px 0px;
}
.perfil-ul .name h2{
    font-family: roboto;
    color: rgb(55, 1, 59);
    transform: translateY(30px);
    margin: 20px 20px 10px 35px;
}
.perfil-ul .service{
    margin: 10px 0px 0px 50px;
}
.perfil-ul .service img{
    width: 15px;
    margin: 0px 3px 0px 0px;
    transform: translateY(2px);
}
.perfil-ul .service p{
    font-family: roboto;
    margin: 0px 10px 0px 0px;
}
.id-div ul{
    display: inline-flex;
    list-style: none;
}
.designer{
    transform: translateY(20px);
}

.id-div .designer img{
    width: 30px;
}
.id-div .designer img:hover{
    transition: all .5s ease-in-out;
    transform: rotate(360deg);
    cursor: pointer;
}
.designer li p{
    font-family: roboto;
    margin: 0px 0px 0px 8px;
    transform: translateY(5px);
}
.payment-ul img{
    width: 35px;
    margin: 20px 5px 0px 0px;
}
.payment-ul .rotate:hover{
    transition: all .5s ease-in-out;
    transform: rotate(360deg);
}
.payment-ul h3{
    font-family: roboto;
    color: rgb(55, 1, 59);
    margin: 20px 0px 0px 0px;
    transform: translateY(5px);

}
.payment-ul .number{
    color: black;
    margin: 20px 0px 0px 5px;
}
.ul-pix{
    margin: 0px 0px 0px 80px;
}
.posts-div{
    overflow-y: scroll;
}
.posts-div ul{
    width: auto;
    display: inline-flex;
    list-style: none;
}
.posts-div ul img{
    width: 400px;
}
.posts-div ul img:hover{
    transition: linear .5s;
    width: 405px;
}
.download{
    margin: 20px 0px 30px 0px;
}
.download button img{
    width: 20px;
    margin: 0px 0px 0px 5px;
    transform: translateY(5px);
}
.download button{
    padding: 10px 30px 10px 30px;
    background-color: rgba(2, 26, 61, 0.979);
    border-radius: 25px;
    border: none;
}
.download button a{
    color: white;
    font-family: helvetica;
    font-size: 18px;
    text-decoration: none;
}