.calendar .ul-geral{
    display: inline-flex;
    list-style: none;
}
.calendar .ul-geral .li-geral{
    margin: 0px 0px 0px 50px;
}
.ul-geral img{
    width: 300px;
}
.calendar .day{
    width: 20px;
    height: 20px;
    border-style: outset;
    border-color: black;
    border-radius: 100%;
}
.calendar .day:hover{
    cursor: pointer;
    transition: linear .4s;
    width: 20px;
    height: 20px;
    border-style: outset;
    border-color: black;
    border-radius: 100%;
    background-color: black;
}
.calendar .day p{
    font-size: 12px;
    padding: 5px 0px 0px 0px;
    color: rgb(0, 0, 0);
    font-family: helvetica;
}
.calendar .day p:hover{
    color: rgb(255, 255, 255);
    font-family: helvetica;
}
.calendar ul{
    display: inline-flex;
    list-style: none;
    margin: 10px 8px 10px 8px;
    flex-wrap: wrap;
}
.calendar ul li{
    padding: 5px 5px 5px 5px;
}
.calendar #temevento{
    background-color: black;
}
.calendar #temevento p{
    color: white;
}
.calendar ul li p{
    padding: 0px 13px 0px 13px;
}